body {
    background-color: rgb();
}

.title {
    margin-top: 17px;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(202, 17, 26);
    margin-bottom: 24px;
}

.tishi {
    height: 40px;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.tishi .left {
    float: left;
    line-height: 40px;
    margin-left: 10px;
}

.tishi p {
    float: right;
    line-height: 40px;
    margin-right: 10px;
}

.tishi p a {
    color: red;
}

.checkleft {
    text-align: left;
}

.checkleft a {
    float: right;
    color: rgb(27, 161, 230);
    position: relative;
    left: -20px;
    top: -6px;
}

.checkleft{
    font-size: 12px;
}

.check-tr {
    height: 122px;
}


table {
    font-size: 14px;
    margin: 50px auto;
    text-align: right;
}

table tr {
    height: 50px;
}

td {
    text-align: center;
    vertical-align: middle;
}

tr>td:first-child {
    text-align: right;
}

table input {
    height: 35px;
    width: 240px;
}

table .check {
    height: 14px;
    width: 14px;
}

table .td3 {
    text-align: left;
    line-height: 10px;
}

button {
    position: absolute;
    height: 35px;
    width: 200px;
    border: none;
    background-color: rgb(202, 17, 26);
    color: rgb(255, 255, 255);

    left: 409px;
    top: 534px;
}

.sv li {
    float: left;
    height: 15px;
    width: 35px;
    color: rgb(255, 255, 255);
    line-height: 15px;
    text-align: center;
    margin-left: 1px;
}

.sv .q {
    background-color: rgb(249, 145, 0);
}

.sv .z {
    background-color: rgb(57, 186, 54);
}

.sv .r {
    background-color: rgb(224, 9, 0);
}

.sv {
    float: right;
}

.mid p {
    float: right;
    margin-right: 10px;
    line-height: 15px;
}


.mid {
    height: 24px;
    ;
}


.box-end {
    border-top: 1px solid rgb(237, 237, 237);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 627px;
    height: 115px;
    width: 100%;
}

.box-end .about {
    position: absolute;
    top: 20px;
    left: 100px;
}

.box-end .address {
    position: absolute;
    top: 50px;
    left: 230px;
    font-size: 14px;
}

.box-end .icp {
    position: absolute;
    top: 70px;
    font-size: 14px;
    left: 450px;
}

.td3 div {
    height: 20px;
    width: 20px;
    background-color: rgb(202, 17, 26);
    border-radius: 20px;
    float: left;
    margin-left: 10px;
}

.td3 img {
    height: 10px;
    width: 10px;
    background-color: rgb(224, 9, 0);
    border-radius: 20px;
    position: relative;
    left: 5px;
    top: 4px;
}

.td3 p {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

input {
    border: 1px solid rgb(153, 153, 153);
    border-radius: 0px;
}

.check {
    position: relative;
    top: 2px;
}